<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/sellerLayout}">

<div class="container" style="margin-top: 20px;"
	layout:fragment="container">
<style>
	form {
		width: 100%;
	}
	
</style>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" align="center">판매자 공지사항 등록</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                       
                        <div class="panel-heading">
                           
                        </div>
                        
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
								 <form role="form" action="/notify/sellerRegister" method="post">
								 	
									<div class="form-group">
										<label>제목</label> <input id="title" name="title" type="text"
											class="form-control" required>
									</div>
									<div class="form-group">
										<label>작성자</label> <input id="sid" name="sid" type="text" th:value="${seller.sid}"
											class="form-control" readonly="readonly">
									</div>
									
									<div class="form-group">
										<label>내용</label>
										<textarea id="content" name="content" class="form-control" rows="7"></textarea>
									</div> 
																																				
									<div class="form-group">
										<div>
											<button class="btn btn-success" type="submit">공지사항 등록</button>
										</div>
									</div>

							<input type='hidden' th:name='${_csrf.parameterName}' th:value='${_csrf.token}'>
								 </form>

								<!-- /.col-lg-6 (nested) -->
                            </div>
                          </div>
                         </div>
                        <!-- /.panel-body -->
      		           
                       
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
    </div>
    <!-- /#wrapper -->
<script src="/js/jquery.min.js"></script>
<th:block layout:fragment="script">
	<script th:inline="javascript">

$(document).ready(function(){
	

	});		
	</script>
</th:block>