<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" language="JavaScript">

           var mobileKeyWords = new Array('iPhone', 'iPod', 'BlackBerry', 'Android', 'Windows CE', 'Windows CE;', 'LG', 'MOT', 'SAMSUNG', 'SonyEricsson', 'Mobile', 'Symbian', 'Opera Mobi', 'Opera Mini', 'IEmobile');

           for (var word in mobileKeyWords){

               if (navigator.userAgent.match(mobileKeyWords[word]) != null){

                         window.location.href = "/m/test";

                   break;

                     }

           }

</script>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<h1>Test Page</h1>
</body>
</html>