<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/sellerLayout}">

<div class="container" style="margin-top: 20px;"
	layout:fragment="container">
<style>
	form {
		width: 100%;
	}
	.uploadResult{
		width:100%;
		background-color: gray;
	}
	
	.uploadResult ul{
		display:flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}
	.uploadResult ul li{
		list-style: none;
		padding: 10px;
		align-content: center;
		text-align: center;
	}
	.uploadResult ul li img{
		width: 100px;
		heigh: 100px;
	}
	.uploadResult ul li span{
		color:white;
	}
	.bigPictureWrapper{
		position: absolute;
		display: none;
		justify-content: center;
		align-items: center;
		top: 0%;
		width: 100%;
		height: 100%;
		background-color: gray;
		z-index: 100;
		background:rgba(255,255,255,0.5);
	}
	.bigPicture{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bigPicture img{
		width: 600px;
	}
</style>
  	<div class="row">
       <div class="col-lg-12">
           <h1 class="page-header">상품등록</h1>
       </div>
       <!-- /.col-lg-12 -->
   </div>
   <!-- /.row -->
   <div class="row">
       <div class="col-lg-12">
           <div class="panel panel-default">
               <div class="panel-body">
                   <div class="row">
                       <div class="col-md-12 col-sm-12">
							<form role="form" action="/product/register" method="post">
								<div class="form-group">
									<label>상품명</label> <input id="pname" name="pname" type="text"
										class="form-control" required>
								</div>
								<div class="form-group">
									<label>가격</label> <input id="price" name="price" type="text"
										class="form-control" required>
								</div>
								<div class="form-group">
									<label>상품설명</label>
									<textarea id="content" name="content" class="form-control" rows="3"></textarea>
								</div> 
									
									<div >
										<button class="btn btn-success" id="optionAddBtn">+</button>
									</div>
								
								<div class="optionDiv">
								
								
								</div>
								<div class="form-group uploadDiv">
									<label>사진첨부(처음올리는 사진이 대표사진입니다.) </label>
									 <input name="uploadFile" id="files" type="file" multiple>
								</div>
								<div class="uploadResult">
									<ul>
								
									</ul>
								</div>
								<div class="form-group">
									<div>
										<button class="btn btn-success" type="submit">상품등록</button>
									</div>
								</div>
								<input type='hidden' name='sno' th:value='${store.sno}'>
								<input type='hidden' th:name='${_csrf.parameterName}' th:value='${_csrf.token}'>
							</form>
                   </div>
                 </div>
                </div>
               <!-- /.panel-body -->
           </div>
           <!-- /.panel -->
       </div>
       <!-- /.col-lg-12 -->
   </div>
       <!-- /.row -->
</div>
    <!-- /#wrapper -->
<script src="../js/jquery.min.js"></script>
<th:block layout:fragment="script">
	<script th:inline="javascript">
$(document).ready(function(e){
	
	
	var formObj = $("form[role='form']");
	var idx = 1;
	
	//옵션삭제
	$(".optionDiv").on("click","button ",function(e){
		
		e.preventDefault();
		console.log("remove");
		var span=$(this).closest('span');
		span.remove();
	});
	
	addOption();
	
	function addOption(){
	var str ="";
	
		str +="<span class='opt'><input  name='size' type='text' class='form-control' required>";				
		str +="<input  name='qty' type='text' class='form-control' required>";
		str +="<button  class='btn btn-success' id='optionRemoveBtn'>삭제</button></span>";

		$('.optionDiv').append(str);
	}
 	//옵션추가버튼
	$("#optionAddBtn").on("click",function(e){
		e.preventDefault();
		
		console.log("Option added");
		addOption();
	}); 
	
	$("button[type='submit']").on("click",function(e){
		
		e.preventDefault();
		
		console.log("submit click");
	 	
		var str="";
		 //이미지 출력
		$(".uploadResult ul li").each(function(i,obj){		
			var jobj= $(obj);
			console.dir(jobj);
			
			str +="<input type='hidden' name='imgList["+i+"].iname' value='"+jobj.data("filename")+"'>";
			str +="<input type='hidden' name='imgList["+i+"].uuid' value='"+jobj.data("uuid")+"'>";
			str +="<input type='hidden' name='imgList["+i+"].ipath' value='"+jobj.data("path")+"'>";

		});
		$(".optionDiv span").each(function(i,obj){
			var jobj= $(obj);
			str +="<input type='hidden' name='optList["+i+"].size' value='"+jobj[0].childNodes[0].value+"'>";
			str +="<input type='hidden' name='optList["+i+"].qty' value='"+jobj[0].childNodes[1].value+"'>";
			/* console.dir(jobj[0].childNodes[0].name);
			console.dir(jobj[0].childNodes[0].value);

			console.dir(jobj[0].childNodes[1].name);
			console.dir(jobj[0].childNodes[1].value); */
			
		});
		console.log(str);
		formObj.append(str).submit();
	
	});
	
	var regex=new RegExp("(.*?)\.(exe|sh|zip|alz)$");
	var maxSize=5242880;
	function checkExtension(fileName,fileSize){
		if(fileSize>=maxSize){
			alert("파일 사이즈 초과");
			return false;
		}
		if(regex.test(fileName)){
			alert('해당 파일 업로드 불가');
			return false;
		}
		return true;
	}
	
	
	$("#files").change(function(e){
		var formData=new FormData();

		var inputFile = $("input[name='uploadFile']");
		
		var files = inputFile[0].files;
		
		console.log(files);
		
		for(var i=0;i<files.length;i++){
			if(!checkExtension(files[i].name,files[i].size)){
				return false;
			}
		//	console.log(files[i]);
			formData.append("uploadFile",files[i]);
		}
			
		$.ajax({
			url:'/upload',
			processData:false,
			contentType:false,
			data:formData,
			type:'POST',
			dataType:'json',
			success:function(result){
				console.log(result);
				showUploadResult(result);
			}
		});
	});
	
	function showUploadResult(uploadResultArr) {
		if(!uploadResultArr||uploadResultArr.length==0){
			return;
		}
		var uploadUL=$(".uploadResult ul");
		var str="";
		$(uploadResultArr).each(function(i,obj){
			
			
				var fileCallPath =  encodeURIComponent( obj.ipath+ "/s_"+obj.uuid +"_"+obj.iname);
				str += "<li data-path='"+obj.ipath+"' data-uuid='"+obj.uuid+"' data-filename='"+obj.iname+"'><div>";
				str += "<span> "+ obj.iname+"</span>";
				str += "<button type='button' data-file=\'"+fileCallPath+"\' class='quick_close_btn_20.png'>x</button><br>";
				str += "<img src='/display?fileName="+fileCallPath+"'>";
				str += "</div>";
				str +"</li>";
		});
		uploadUL.append(str);
	}
	
	//이미지삭제
	$(".uploadResult").on("click","button",function(e){
		console.log("delete file");
		
		var targetFile = $(this).data("file");
	console.log(targetFile);
		var targetLi = $(this).closest("li");
		
		$.ajax({
			url:'/deleteFile',
			data:{fileName:targetFile},
			dataType:'text',
			type:'POST',
				success:function(result){
					alert(result);
				targetLi.remove();	
				}
		});
	});//end

});
</script>  
</th:block>