<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/shopLayout}">

<div class="container" style="margin-top: 20px;"
	layout:fragment="container" th:with="member = ${#authentication.principal.member}">
	<div class="shoppingBasketArea" style="">
		<div class="displayTable" style="height: 65px;">
			<tbody id="basketAllTable">
				
				<div style="margin:20px 0;">
					
					<span style="font-size:38px;">주문결제</span><br/>
					
					<hr>
				</div>
				
				<div style="margin:40px 0 10px 10px; font-size:21px; font-weight:bold">주문 정보 확인</div>
				<div style="display: inline-block; width: 760px">

					<div style="border-bottom: 4px solid #e5e5e5; width: 760px;"></div>
						<div th:each="arr: ${orderList}">
							 <table cellspacing="0" class="goods basketGoodsTableMiddle"
								storeindex="0" storesid="4488" style="width: 760px;">
								<tbody>
									<tr style="height: 120px;" th:id="|option_${arr.opno}|">
										<td class="checkBoxTd borderBottom">
											<div class="check_box">
												<input type="checkbox"></label>
											</div>
										</td>
										 <td class="height90 borderBottom " colspan="4"
											style="text-align: left; width: 150px;">
											<div class="shoppingGoodsThumbnail">
												<img th:class="|thumb_${arr.pno}|"
													style="width: 60px; display: inline-block; vertical-align: middle;">
											</div>
											<div
												style="display: inline-block; margin-left: 6px; vertical-align: middle;">
												<div class="basketGoodsName" style="width: 100px;">
													<a class="modalOpen" style="color: #333;"
														th:text="${arr.product.pname}"></a>
													<div class="basketGoodsDeleteBtn"></div>
												</div>
												 <div class="basketStoreInfo"
													style="font-size: 15px; margin-top: 6px;"
													th:text="|사이즈 / ${arr.option.size}|">SIZE</div>
											</div> 
										</td>
										<td class="borderRight" colspan="5"
											style="border-spacing: 0px;">
											<table cellspacing="0" style="width: 100%;">
												<tbody>
													<tr class="height60 optionClass">
														<td class=" upDownTd">
															<div class="upDownDiv">
																<input class="upDownNumArea" type="text" name="price"
																	th:value="|${arr.qty}개|" placeholder="0"
																	style="ime-mode: disabled;">
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</td>

										<td class="basketGoodsSumPrice"><span
											th:id="|price_${arr.opno}|"
											th:class="|sumPrice pno_${arr.product.pno}|"
											th:data-price="${arr.product.price*arr.qty}"
											th:text="${arr.product.price*arr.qty}">PRICE </span><strong>원</strong>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
						<div style="border-bottom: 4px solid #e5e5e5; width: 760px;"></div>
						
						<div style="margin:40px 0 10px 10px; font-size:21px; font-weight:bold">내 정보 확인</div>
						<table id="payMethodTable_0" class="basketGoodsTableEnd"
							cellspacing="0" style="width: 760px;  border-top: 4px solid #e5e5e5;">
							
							<tbody>
						
								<tr class="paymentOption" style="height: 102px;">
								
									<td class="" colspan="6"
										style="padding: 0 30px; border-spacing: 10px;">
										
										<div class="payMethodInputArea" style="height: 54px;">
										
											<div><input class="orderInfo addressInfo" style="width:100px"
											 type="text" id="orderName" th:value="${member.mname}"></div>
										<table class="data-row">
											<colgroup>
												<col>
											</colgroup>
											<tbody>
												<tr>
													<td>
														<input style="width: 80px;" class="orderInfo addressInfo" type="text"
														 id="roadAddr1" readonly="readonly"> 
														 <button class="basketSwapBtn adressSearch" 
														 style="background: #ff7f7a; color:#fff; width:60px; height:25px;">주소검색</button>
													</td>
												</tr>
												<tr>
													<td>
														<input class="orderInfo addressInfo" type="text" id="roadAddr2" 
															th:value="${member.address}" readonly="readonly">
													</td>
												</tr>
												<tr>
													<td>
														<input type="text" class="orderInfo addressInfo" id="roadAddr3" maxlength="15" 
															th:value="${member.addressdetail}" placeholder="상세 주소를 입력해주세요">
													</td>
												</tr>
											</tbody>
										</table>
										<div style="margin:10px 0 0 3px">
										<select class="addressInfo" id="pnum" style="width:60px;"> 
											<option value="010">010</option> 
											<option value="011">011</option> 
											<option value="016">016</option> 
											<option value="019">019</option> 
										</select> 
										<span class="dash">-</span> 
										<input type="text" style="width:35px;" maxlength="4" class="addressInfo" id="pnum2"
															onkeydown="onlyNumber(event)" onkeyup="removeChar(event)"> 
										<span class="dash">-</span> 
										<input type="text" style="width:35px;" maxlength="4" class="addressInfo" id="pnum3"
															onkeydown="onlyNumber(event)" onkeyup="removeChar(event)">
										<input class="orderInfo payMethodInput" type="text" placeholder="배송시 요청사항을 입력해주세요(선택)"
											style="width: 600px; height: 32px; margin-top:20px;">
										</div>
										
									</td>
								</tr>
							</tbody>
						</table>
						
						<div style="margin:40px 0 10px 10px; font-size:21px; font-weight:bold">결제수단 선택</div>
						<table id="payMethodTable_0" class="basketGoodsTableEnd"
							cellspacing="0" style="width: 760px;">
							
							<tbody>
								<tr id="payMentStore_0"
									class="paymentOption height60 payMethodTR">
									
									<td id="storePayMethod_0" class="textLeft storeLengthCount"
										colspan="5" style="border-spacing: 10px; 
										padding: 0px 30px; border-top: 4px solid #e5e5e5;">
										
										<button class="payMethod payMethodSelectedBtn">카카오페이</button>

									</td>
								</tr>
							</tbody>
						</table>
					
					<table style="padding: 0px 34px;">
						<tbody>
							<tr>
								<td colspan="6"
									style="padding: 30px 0px 40px 0px; width: 760px;">
									<div class="cart">
										주문하기는 <span style="color: #ff5252; font-weight: bold;">선택된 상품 및 옵션</span>
										만 주문되고 선택되지 않은 상품은 장바구니에 남아 있습니다.<br>
										주문하는 시점에 품절되어 있는 상품은 주문되지 않고 장바구니에 남아있습니다.
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="changePriceArea" class="floatArea" style="height: 1585px;">
					<div class="floatMenu" style="">
						<table class="buyNPriceTable" cellspacing="0"
							style="width: 100%; color: #202225;">
							<tbody>
								<tr>
									<td colspan="2" style="">
										<button class="formBuyNPriceInfoBoxTitle">결제예정 금액</button>
									</td>
								</tr>
								<tr>
									<td class="floatTableText" style="">배송비</td>
									<td class="floatTableNumber" style="text-align: right;"><span
										class="d_deliveryPrice">3000</span>원</td>
								</tr>
								<tr>
									<td class="floatTableText" style="">물품 금액</td>
									<td class="floatTableNumber" style="text-align: right;"><span
										class="d_goodsSumPrice"></span>원</td>
								</tr>
								<tr>
									<td class="floatTableText"
										style="border-bottom: 1px solid #e1e1e1;">총 주문금액</td>
									<td class="floatTableNumber"
										style="border-bottom: 1px solid #e1e1e1; text-align: right; color: #ff5252;"><span
										class="d_totalPrice">0</span>원</td>
								</tr>
								<tr>
									<td colspan="2" style="height: 10px;"></td>
								</tr>
								<tr>
									<td colspan="2">
										<button class="orderBtn"
											style="background-color: #ff7f7a; border: 1px solid #ff7f7a;">
											결제하기</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>

			</tbody>
			<div id="basketSSCTitle" style="display: none; padding: 30px 0px;">
				<img src="/img/bg_cart_ssc_title_banner_01.png"
					style="width: 100%;">
			</div>
		</div>
	</div>

</div>
<th:block layout:fragment="script">

	<script src="/js/function.js" th:inline="javascript"></script>
	<script th:inline="javascript" 
		src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>
	<script th:inline="javascript">
	$(document).ready(function(){
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
	    var orderList = [[${orderList}]];
	    var list = new Array();
		var member = [[${#authentication.principal.member}]];
		var tel = member.pnum;
		var totalCount = $(".optionPrice").data("price");
		var sum = 0;
		(function(){
			
			getTotalSum();
			
			var pnum1 = member.pnum.split("-")[0];
			var pnum2 = member.pnum.split("-")[1];
			var pnum3 = member.pnum.split("-")[2];
			
			$.each(orderList, function(index, item){
				var sum = 0;
				
				$.makeArray($(".sumPrice").map(function(){
					if($(this).hasClass("pno_"+item.pno)){
						sum += $(this).data("price");
					}
					
				}));
				 
				var img =  item.product.imgList[0];
				
				var fileCallPath =  encodeURIComponent(img.ipath+ "/s_"+ img.uuid +"_"+img.iname);
				
				$.each($('.thumb_'+ item.pno),function(){
					$(this).attr("src","/display?fileName="+fileCallPath); 
				});
				 
				$("#sumText_"+item.pno).html(sum);
				
			});
			
			if(pnum1 == "010"){
				$("#pnum").val("010").prop("selected",true);
			}if(pnum1 == "011"){
				$("#pnum").val("011").prop("selected",true);
			}if(pnum1 == "016"){
				$("#pnum").val("011").prop("selected",true);
			}if(pnum1 == "019"){
				$("#pnum").val("019").prop("selected",true);
			}
			
			$("#pnum2").val(pnum2);
			$("#pnum3").val(pnum3); 
			
		})();


		$(".adressSearch").click(function(){
			daum.postcode.load(function(){
		        new daum.Postcode({
		            oncomplete: function(data) {
		            	address(data);
		            }
		        }).open();
		    });
		});
		
		function address(data){
			$("#roadAddr1").val(data.postcode);
			$("#roadAddr2").val(data.roadAddress);
			$("#roadAddr3").val("");
		}
		
		$(".orderBtn").on('click',function(e){
			e.preventDefault();
			$.each(orderList, function(index, item){
				
				var json = { 
						pno: item.pno,
						mid : member.mid,
						product: item.product,
						qty: item.qty,
						opno: item.opno,
						sno: item.sno,
						name:  $("#orderName").val(),
						address: $("#roadAddr2").val(),
						addressDetail: $("#roadAddr3").val(),
						pnum: $("#pnum option:selected").val()+$("#pnum2").val()+$("#pnum3").val()
				}
				
				list.push(json);
				
			});		
			

			console.log(list);
			 $.ajax({
                type:"post",
                data : JSON.stringify(list),
                url: "/kakaopay/pay",
                contentType : "application/json; charset=UTF-8",
                success:function(result, status, xhr){
                	popupOpen(result);
    			}
            }); 
			 
		});
		
	function popupOpen(popUrl){

		var popOption = "width=400, height=500, resizable=no, scrollbars=no, status=no;";    //팝업창 옵션(optoin)
		window.open(popUrl,"",popOption);
	
	}

	 function getTotalSum(){
		$.makeArray($(".sumPrice").map(function(){
			sum += $(this).data("price");
		}));
		$(".d_goodsSumPrice").html(sum);
		$(".d_totalPrice").html(sum + 3000);
	}
		
	
	});
	</script>
</th:block>
</html>