<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/sellerLayout}">


<div class="container" style="margin-top: 20px;"
	layout:fragment="container">




	<form id="shipForm">
		<h4>배송관리 현황 관리</h4>
		<input type="checkbox" name="chk[]" value="준비중" checked="checked">준비중
		<input type="checkbox" name="chk[]" value="배송중">배송중 <input
			type="checkbox" name="chk[]" value="배송완료">배송완료
	</form>

	<form id="cancelForm">
		<h4>주문관리 및 취소관리</h4>
		<input type="checkbox" name="chk[]" value="발주확인">발주확인 <input
			type="checkbox" name="chk[]" value="발송처리">발송처리 <input
			type="checkbox" name="chk[]" value="판매취소">판매취소 처리 <input
			type="checkbox" name="chk[]" value="취소완료">취소완료처리 <input
			type="checkbox" name="chk[]" value="확정후취소">구매확정 후 취소처리
	</form>

	<form id="refundForm">
		<h4>반품 및 교환관리</h4>
		<input type="checkbox" name="chk[]" value="반품교환">반품 및 교환접수 <input
			type="checkbox" name="chk[]" value="반품처리">반품접수 후 처리 <input
			type="checkbox" name="chk[]" value="교환후반품">교환접수 후 처리
	</form>

		<div class="row">
			<div class="col-sm-12" align="center">
				<table width="100%"
					class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
					id="dataTables-example" role="grid"
					aria-describedby="dataTables-example_info" style="width: 100%";>
					<thead>
						<tr role="row" style="text-align: center;">
							<th class="sorting_is" style="width: 60px;"><input type="checkbox" id="allCheck_box"></th>
							<th class="sorting"style="width: 120px;">상품주문번호</th>
							<th class="sorting" style="width: 170px;">주문일시</th>
							<th class="sorting" style="width: 120px;">주문상태</th>
							<th class="sorting" style="width: 150px;">상품명</th>
							<th class="sorting" style="width: 80px;">옵션정보</th>
							<th class="sorting" style="width: 80px;">수량</th>
							<th class="sorting" style="width: 80px;">가격</th>
							<th class="sorting" style="width: 90px;">구매자명</th>
							<th class="sorting" style="width: 120px;">운송장번호</th>

						</tr>
					</thead>
					<tbody>

						<tr class="gradeA odd" role="row" th:each=arr:${orderList}>
							<td class="sorting"><input name="checkbox" type="checkbox" id="checkbox"
								th:value="${arr.odno}"></td>
							<td class="odno" th:text=${arr.odno}></td>
							<td class="ragdate"
								th:text="${#dates.format(arr.regdate,'yyyy-MM-dd')}"></td>
							<td class="state">
							<select class="state" th:id="|state_${arr.odno}|" th:value="${arr.detail_state}">
									<option id="ready" value="ready"}>준비중</option>
									<option id="shipping" value="shipping">배송중</option>
									<option id="complete" value="complete">배송완료</option>
									
							</select></td>
							<td class="pname" th:text="${arr.product.pname}"></td>
							<td class="option"><input type="text" id="size"
								th:value="${arr.option.size}"
								style="width: 80px; text-align: center;" readonly></td>
							<td class="qty"><input type="text" id="qty"
								th:value="${arr.option.qty}"
								style="width: 90px; text-align: center;" readonly></td>
							<td class="price" th:text=${arr.product.price}></td>
							<td class="mname" th:text=${arr.name}></td>
							<td class="shipnumber">
								<input type="text" numberOnly th:id="|ship_${arr.odno}|" th:value="${arr.dno}"/>
							</td>

				<!-- 	 <td class=""><button type="submit" data-oper='remove' class="btn-remove basketSwapBtn" 
 						style="width:80px; color:#fff; background: black;" th:data-ono="${arr.ono}">주문취소</button> -->
					</tr>
					</tbody>
				</table>
			</div>

			<div id="dataTables-example_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap no-footer"
				style="align-item: left;">
				<div class="col-sm-6">
					<div align="left" id="dataTables-example_filter"
						class="dataTables_filter">

						<button type="submit" data-oper='remove' id="remove-btn"
							class="form-control input-sm" placeholder=""
							aria-controls="dataTables-example">삭제하기</button>
						<button type="submit" data-oper='modify' value="수정하기"
							class="form-control input-sm" id="modify-btn"
							aria-controls="dataTables-example">수정하기</button>

						<!-- 			<button type="submit" data-oper='remove' class="btn-remove basketSwapBtn" 
 						style="width:80px; color:#fff; background: black;" th:data-ono="${arr.ono}">주문취소</button> -->

					</div>
				</div>
			</div>

		</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="dataTables_info" id="dataTables-example_info"
				role="status" aria-live="polite">Showing 1 to 10</div>
		</div>

		<div class="pull-right">

			<ul class="pagination">
				<li class="paginate_button previous"
					th:if="${pageMaker.prev} == true"></li>
				<li style="display: inline-block; vertical-align: top;"
					th:each="page : ${pageList}">
					<button class="paginate_button" th:id="|page_${page}|"
						th:text="${page}">1</button>
				</li>
				<li class="paginate_button" th:if="${pageMaker.next} == true"></li>

			</ul>
		</div>

	</div>

	<form id="orderListForm">
		<input type='hidden' name='amount' th:value='${pageMaker.cri.amount}' />
		<input type='hidden' id='pageNum' name='pageNum' th:value='${pageMaker.cri.pageNum}' /> 
		<input type='hidden' name='sno' value='1' />
	</form>
</div>




<div class="modal fade" id="modifyState" tabindex="-1" role="dialog"
	aria-labelledby="modifyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modifyModalLabel">배송중으로 상태를
					변경하시겠습니까?</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				'배송하기'버튼을 누르면 해당 주문건은 배송하기로 변경됩니다. 정말로 변경하시겠습니까?
				<!--해당 글 삭제하는 주소값받는 input 태그-->
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary" id="modifyState"
					onclick=location.replace="modifyURL">배송중으로 전환하기</button>

				<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>


<script src="/js/jquery.min.js"></script>
<th:block layout:fragment="script">
	<script th:inline="javascript">

$(document).ready(function(){
	
		var orderForm = $("#orderListForm");
		var pageMaker = [[${pageMaker}]];
		var orderList = [[${orderList}]];
		
		//체크박스 전체선택
		$("#allCheck_box").click(function(){
			if($("input[name=checkbox]:not(:checked)").length != 0){
				
				$("input[name=checkbox]:checkbox").prop("checked", "checked");
			}else{
				$("input[name=checkbox]:checkbox").prop("checked", false);
			}
			checkChk();
		});
		
		//페이지 스크립트
		$(".paginate_button").click(function(e) {
	        $("#pageNum").val(String($(this).attr("id")).substring(5));
	        orderForm.submit();
	    });
	    
	    $(".paginate_button previous").click(function(){
	        $("#pageNum").val(Number(pageMaker.startPage) -1);
	        orderForm.submit();
	    });
	    
	    $(".paginate_button next").click(function(){
	        $("#pageNum").val(Number(pageMaker.endPage) + 1);
	       
	    });
	    
		$.each(orderList, function(index, item){
			var state = item.detail_state;
			console.log(state == "배송중");
			if(state == "배송중"){state = "shipping";}
			else if(state =="준비중"){state = "ready";}
			else if(state =="배송완료"){state = "complete";}
			$("#state_"+item.odno).val(state);
			
		});
	
	    
	    $(".state").change(function(){
			$(".checkbox"+$(this).attr("value")).attr("checked",true);
		});
	    
	    //삭제스크립트
		$('#remove-btn').click(function() {
		
			if (confirm("해당 주문건을 취소하시겠습니까?") == true){ 
				orderForm.html("");
				$("input[name='checkbox']:checked").each(function(index, item){
					
					orderForm.append("<input type='hidden' id='odno' name='odno' value='"+item.value+"' >");
				});
				if($("#odno").val()==null){
					alert("삭제하고자 하는 주문건에 체크하십시요.");
					return;
				}

				orderForm.attr("method", "post").attr("action","/exam/manage")
				.append("<input type='hidden' name='"+csrfName+"' value='"+token+"' >")
				.submit(); 

			}else{ 
			    return;
			}
		});
	   
	    
	    
		//modify버튼
		$("#modify-btn").click(function(){
			if (confirm("해당 주문건을 수정하시겠습니까?") == true){ 
				
				orderForm.html("");
				$("input[name='checkbox']:checked").each(function(index, item){
					
					var shipNum = $("#ship_"+item.value).val();
					if(String(shipNum) == ""){
						shipNum = -1;
					}
					
					var val = item.value+"_"+shipNum+"_"+$("#state_"+item.value).val();
					orderForm.append("<input type='hidden' id='option' name='option' value='"+val+"' >");
				});
				if($("#option").val()==null){
					alert("수정하고자 하는 주문건에 체크하십시요.");
					return;
				} 

				orderForm.attr("method", "post").attr("action","/exam/modify")
				.append("<input type='hidden' name='"+csrfName+"' value='"+token+"' >")
				.submit();

			}else{ 
				return;
			}
		});
		
		//배송조회번호 키값 숫자만 입력받기
		$("input:text[numberOnly]").on("keyup", function() {
		    $(this).val($(this).val().replace(/[^0-9]/g,""));
		});
	
});

	
</script>
</th:block>
</html>
