<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/m/layout/shopLayout}">
<div class="container" style="margin-top: 20px;"
	layout:fragment="container">
<style>
ul {
	list-style: none;
	padding: 0px;
}

.goods_option_ul .optionLi {
	border: 1px solid #e1e1e1;
	margin-bottom: 10px;
	padding: 16px;
}

.goods_option_ul .option {
	display: inline-block;
	width: 120px;
}

.goods_option_ul .count {
	display: inline-block;
	float: right;
}

.detailUpDownDiv {
	width: 150px;
	height: 43px;
	position: relative;
}

.detailDownArea {
	width: 43px;
	height: 43px;
	position: absolute;
	left: 0px;
	background: url('/img/detail_stepper_down_n_btn_1x.png') no-repeat;
	background-size: 43px 43px;
	cursor: pointer;
}

.detailDownArea:hover {
	background: url('/img/detail_stepper_down_p_btn_1x.png') no-repeat;
	background-size: 43px 43px;
}

.detailUpArea {
	width: 43px;
	height: 43px;
	position: absolute;
	left: 107px;
	background: url('/img/detail_stepper_up_n_btn_1x.png') no-repeat;
	background-size: 43px 43px;
	cursor: pointer;
}

.detailUpArea:hover {
	background: url('/img/detail_stepper_up_p_btn_1x.png') no-repeat;
	background-size: 43px 43px;
}

.detailUpDownNumArea {
	position: absolute;
	left: 43px;
	text-align: center;
	border: 0px;
	padding: 0px;
	width: 64px;
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	font-weight: 500;
	background: url('/img/detail_stepper_skin_n_btn.png') no-repeat;
	background-size: 64px 43px;
	color: #333;
}

@media ( min-width : 992px) {
	.goods_option_ul .count {
		float: unset;
	}
}
</style>

	<div class="container">
		<div class="page-header">
			
		</div>
		<div class="row">
			<div class="col-lg-4 order-lg-1 mb-4">

				<div class="card">
					
					<div class="card-body">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<h4 class="card-title" th:text="${product.pname}">PNAME</h4>
									<div class="card-subtitle" th:text="${product.store.sname}">SNAME</div>
									<img class="firstImg" src="">
									<div class="mt-5 d-flex align-items-center">
										<div class="product-price">
											<strong th:text="${product.price}">PRICE</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" name="pno" th:value="${product.pno}">

						<div class="option_area" th:each="arr:${product.optList}">
							<ul class="goods_option_ul" style="width: 100%;">
								<li class="min-height42 optionLi">
									<div class="option">
										<div th:name="${arr.opno}" th:data-size="${arr.size}"
											th:text="|SIZE / ${arr.size}|"
											style="color: #333; font-weight: 500; font-size: 14px;">SIZE</div>
										<div style="margin-top: 6px; font-size: 12px;"
											th:text="|재고수량 / ${arr.qty}|">재고수량</div>
									</div>
									<div class="count">
										<div class="option_count_control" style="">
											<div class="detailUpDownDiv">
												<div class="detailDownArea"></div>
												<input name="option" readonly="readonly" th:id="${arr.opno}"
													class="detailUpDownNumArea" type="text" value="0">
												<div class="detailUpArea"></div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="div_line_1px"
								style="width: 100%; margin-top: 20px; margin-bottom: 15px;"></div>
						</div>


						<div class="form-group">
							<label class="form-label">결제방법</label> <input
								class="form-control" value="카카오페이" readonly="readonly">
						</div>
						<div class="form-group">
							<label class="form-label">총 결제금액</label> <input
								class="form-control" id="totalSum" readonly="readonly">
						</div>
						<div class="form-footer">
							<button class="btn btn-primary btn-block btn_order_direct">주문하기</button>
						</div>

					</div>
				</div>

			</div>
			<div class="col-lg-8">
				<div class="card">
					<div class="card-body">
					<div>제품사진</div>
						<div class="text-wrap p-lg-6" id="imgContainer">
							<img class="inner_main_img" src="">
						</div>
						</br>
						</br>
						<div>제품설명</div>
						<p>
						<div class="goods_detail_text" th:text="${product.content}"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 order-lg-2">			
				<p class="text_introduction">
						평균평점 : <span class="average"></span>
					</p>
				<button class="btn btn-square btn-primary" data-kind='R'
					style="border-bottom: 0">
					리뷰<span class="count" th:text="${product.ReviewReplyCnt}">COUNT</span>
				</button>
				<button class="btn btn-square btn-secondary" data-kind='Q'
					style="border-bottom: 0">
					문의<span class="count" th:text="${product.QuestionReplyCnt}">COUNT</span>
				</button>
				<div class="card">

					<div class="card-header" style="padding: 10px 5px">
						<div id="replyAdd" class="col-md-12">
							<input type="text" name="title" placeholder="제목을 입력해주세요."
								class="form-control replytitlearea">
							<div class="form-group mb-0" style="margin-top: 10px;">
								<input name="content" class="form-control replyTextarea"
									placeholder="덧글을 입력해주세요." style="width: 100%; height: 80px;">
							</div>
							<div class="card-footer text-right" style="padding: 10px 0 0 0;">
								<div class="d-flex">
									<select class="score" id="score"
										style="border: 0px; height: 28px;">
										<option th:value="5" selected>★★★★★</option>
										<option th:value="4">★★★★</option>
										<option th:value="3">★★★</option>
										<option th:value="2">★★</option>
										<option th:value="1">★</option>
									</select>
									<button type="submit" id="repleRegiBtn" 
										class="btn btn-primary ml-auto ">댓글 등록</button>
								</div>
							</div>
						</div>
					</div>
					<ul class="list-group card-list-group">

					</ul>
					<div class="replyPageFooter" style="text-align: center;"></div>
				</div>
			</div>
			<span id="secName" sec:authentication="name" style="display: none"></span>
			<form action="/m/order/list" id="storeDetailForm" method="post">
			</form>
		</div>
	</div>

</div>
<th:block layout:fragment="script">
	<script th:inline="javascript" th:src="@{/js/reply.js}"></script>
	<script th:inline="javascript">
	$(document).ready(function() {
		var storeDetailForm = $("#storeDetailForm");
	    var product = [[${product}]];
	    var pno = [[${product.pno}]];
	    var sno = [[${product.sno}]];
	    var img = [[${img}]];
	    var pageNum = 1;

		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		var mid;
		var pnoValue =  [[${product.pno}]];
		var replyUL = $(".card-list-group");
		var kindValue = "R"; 
		var parent = 0;
		
		var replyAdd = $("#replyAdd");
		var InputTitle = replyAdd.find("input[name='title']");
		var InputContent=replyAdd.find("input[name='content']");
		var InputMid=replyAdd.find("input[name='mid']");
		var replyPageFooter = $(".replyPageFooter");
		
		var replyContainer =$(".col-md-12").clone(true);
		var modifyTitle ;
		var modifyContent;
		var modifyMid;
		var modifyRno;
		var modifyScore;
		

		$(document).ajaxSend(function(e,xhr,options){
		    xhr.setRequestHeader(header, token);
		 });

		
		var scoreValue = $("#score option:selected").val();
	
		(function() {
			if($("#secName").html() != "anonymousUser"){
				mid = $("#secName").html();
			}
			showList(1);
			setImg();
		})();
		
		function setImg(){
			
			 var imgList=[[${product.imgList}]];
			 console.log(imgList);
			var str="";
			var fileCallPath =  encodeURIComponent(imgList[0].ipath+ "/"+ imgList[0].uuid +"_"+imgList[0].iname);
			$(".firstImg").attr("src","/display?fileName="+fileCallPath);
			 
			 $.each(imgList, function(index, item){
					if(item.pno == product.pno){
						
						var fileCallPath =  encodeURIComponent(item.ipath+ "/"+ item.uuid +"_"+item.iname);
						
						 $("#imgContainer").append("<img src='/display?fileName="+fileCallPath+"'>");
					} 
				});  
			
		
		}
		
		$(".detailDownArea").click(function(e) {
			var count = $(this).next("input").val();
			if (count > 0) {
				count -= 1;
				$(this).next("input").val(count);
			} else {
				$('html').css({
					'cursor' : 'url(cursor.png), auto'
				});
			}
			totalSum();
		})

		$(".detailUpArea").click(function(e) {

			var count = Number($(this).prev("input").val());
			count += 1;
			$(this).prev("input").val(count);
			totalSum();
		})


		$(".close_btn").click(function(e) {
			$(".basketInfoTextBox").css("display", "none")
		});
		
		$(".btn_order_direct").click(function(){
			
			if(mid == undefined){
				alert("회원만 주문가능합니다.")
				return;
			}
			
			$.each(product.optList, function(index, item){
				var value = $("#"+item.opno+"").val();
				if(value > 0){
					storeDetailForm.append("<input type='hidden' name='info' id='info' value='"
							+pno+"_"+item.opno+"_"+value+"_"+sno+"'>")
							.append("<input type='hidden' name='"+csrfName+"' value='"+token+"' >");
					
				}
			});
			if($("#info").val() == null){
				alert("수량을 입력해 주세요");
			}else{
				storeDetailForm.submit();
			}
			
		});
		
		$(".detailUpDownNumArea").change(function(){
			totalSum();
		});
		
		function totalSum(){
			var totalSum = 0;
			$(".detailUpDownNumArea").each(function(index, item){
				totalSum += Number(product.price * item.value);
			});
			
			$("#totalSum").val(totalSum);
		}
		
		function showReplyPage(replyCnt){
			
			var endNum = Math.ceil(pageNum/10.0)*10;
			var startNum = endNum - 9;
			
			var prev = startNum != 1;
			var next = false;
			
			if(endNum*10>=replyCnt){
				endNum=Math.ceil(replyCnt/10.0);
			}
						
			if(endNum*10 <replyCnt){
				next=true;				
			}
			
			var str="<div style='text-align:center;''>";
			
			if(prev){
				str+="<div class='pageControlLeft'><button href='"+(startNum-1)+"'></button></div>";
			}
			
			for(var i=startNum; i<=endNum; i++){
				var active= pageNum ==i?"active":"";
				
				str+="<div class='showPage'style='display:inline-block; vertical-align:top;'>";
				str+="<button class='pageNum pageNumber "+active+"' href='"+i+"'>"+i+"</button>";
				
			}
			
			if(next){
				str+="<div class='pageControlRight'><a href='"+(endNum-1)+"'></a></div>";
			}
			str+="</div>";
			replyPageFooter.html(str);
		}
		
		replyPageFooter.on("click","button",function(e){
			
			e.preventDefault();
			var targetPageNum = $(this).attr("href");
			
			pageNum=targetPageNum;
			
			showList(pageNum);
		});
		
		//Question 별점숨김.
		$(".btn-square").on("click",function(e){
			
			var kind=$(this).data("kind");
			
			if(kind =='Q'){
				$(".score").hide();
			}
			else{
				$(".score").show();	
			}
			
			$(".item").find("a").attr("class","link");
			$(this).find("a").attr("class","link2");
			
			var kind=$(this).data("kind");
			kindValue=kind;
			showList(1);
			
		});
		
		//get
		$(".card").on("click",".modifyBtn",function(e){
			
			console.log("mod click");
			
			var kind = kindValue;
			
		 	 modifyTitle = replyContainer.find("input[name='title']");
			 modifyContent=replyContainer.find("input[name='content']");
			 modifyMid=replyContainer.find("input[name='mid']");
			 modifyScore=replyContainer.find(".score option:selected").parent();
			 
			modifyRno=$(this).data("rno");
			
			$(this).parent().parent().parent().append(replyContainer.show());
			
		 	if(kind == 'Q'){
				replyContainer.find(".star").hide();	
			} 
			
			replyService.get(modifyRno,function(reply){
				
				modifyTitle.val(reply.title);
				modifyContent.val(reply.content);
				modifyMid.val(reply.mid).attr("readonly","readonly");
				modifyScore.val(reply.score);
				replyContainer.find('button').text("수정하기").attr("class","modBtn");
			});
							
		});
		
		//수정 replyContainer
		    $(document).on("click",".modBtn",function(e){
		    	
		    	if(kindValue == "Q"){
					scoreValue = 0;
				}else if(kindValue == "R"){
					scoreValue = $(this).parent().parent().parent().find("select option:selected").val();
				}
		    	
			var reply ={
					rno : modifyRno,
					title:modifyTitle.val(),
					content:modifyContent.val(),
					kind:kindValue,
					score: scoreValue
			};
			
			replyService.update(reply,function(result){
				alert(result);
				showList(pageNum);
			});
			
		});
		
		//삭제
		$(".card").on("click",".deleteBtn",function(e){
			
			var rno = $(this).data("rno");
		
			replyService.remove(rno,function(result){
				alert(result);
				showList(pageNum);		
			});
			
			var cnt=$("div [data-kind='"+kindValue+"']").find("span ");

			showList(1);
			cnt.text(parseInt(cnt.text())-1);
		});
		
		//댓글등록
		$("#repleRegiBtn").on("click",function(e){
			
			if(mid == null){
				alert("회원만 댓글 작성이 가능합니다.");	
				return;
			} 
			
			if(kindValue == "Q"){
				scoreValue = 0;
			}else if(kindValue == "R"){
				scoreValue = $("#score option:selected").val();
			}
			
			if($(".replyTextarea").val() == "" || $(".replytitlearea").val() == ""){
				alert("덧글을 입력해주세요");	
				return;
			}
			
			var reply ={					
					pno:pnoValue,
					mid: mid,
					content: InputContent.val(),
					title: InputTitle.val(),
					kind: kindValue,
					score: scoreValue,
					parent: ++parent,
					depth:0				
					};
			
			console.log(reply);
			
			replyService.add(reply, function(result){
				alert(result);
				replyAdd.find("input").val("");
				
				var cnt=$("div [data-kind='"+kindValue+"']").find("span ");
				showList(1);
				cnt.text(parseInt(cnt.text())+1);
							
			});
		});

		
		function formatDate(date) {
		    var d = new Date(date),
		        month = '' + (d.getMonth() + 1),
		        day = '' + d.getDate(),
		        year = d.getFullYear();

		    if (month.length < 2) month = '0' + month;
		    if (day.length < 2) day = '0' + day;

		    return [year, month, day].join('-');
		}
		
		//리스트
		function showList(pageNum){
			
			replyService.getList({pno:pnoValue, page:pageNum, kind:kindValue}, 
					function(replyCnt,parentCnt,list,scoreAverage){
				
				$(".average").text(scoreAverage.toFixed(2));
				
				if(pageNum == -1){
					pageNum= Math.ceil(replyCnt/10.0);
					showList(pageNum);
					return;
				}
				var str ="";
				if(list == null || list.length == 0){
					replyUL.html("");
					return;
				}
				
				for(var i=0, len = list.length ||0; i<len; i++){
					/* str +="<div data-rno='"+list[i].rno+"' class='item_review'>";
					str +="<div class='review_profile'><img src='/img/profile.jpg'></div><div><div>";
					str +="<span class='title' style='margin-top: 17px; padding: 15px;'><strong>"+list[i].title+"</strong></span>";
					if(list[i].kind =="Q"){
						str+="</div><div>";
					}else{
						str +="<span class='score'><img src ='/img/"+list[i].score+"star.png' width='80px'/></span></div><div>";
					}
					
					if(list[i].depth==1){
						str+="<div class='area_status_user' style='margin-left:30px'><span class='text_info'>"+list[i].mid;
					}else{
						str+="<div class='area_status_user'><span class='text_info'>"+list[i].mid;
					}					
					str +=" /</span><span class='text_info'>"+formatDate(list[i].regdate)+"</span>";
					if(mid == list[i].mid){
						str +="/<span class='text_info infoBtn modifyBtn' data-rno='"+list[i].rno+"'>수정</span>";
						str +="<span class='text_info infoBtn deleteBtn' data-rno='"+list[i].rno+"'>삭제</span>";
					}
					str +="</div></div><p style='margin-left:45px;'>"+list[i].content+" </p></div></div>"; */
					str+="<li class='list-group-item py-5'><div class='media-body'><div class='media-heading'>";
					str+="<small class='float-right text-muted'>"+formatDate(list[i].regdate)+"</small>";
                    str+="<strong style='font-size:13px;'>"+list[i].title+"</strong>";
                    if(list[i].kind =="R"){
                        str+="<span class='score'><img src ='/img/"+list[i].score+"star.png' width='80px'/></span>";
					}
                    if(list[i].depth==1){
						str+="<div class='area_status_user' style='margin-left:30px'><span class='text_info'>"+list[i].mid;
					}else{
						str+="<div class='area_status_user'><span class='text_info'>"+list[i].mid;
					}	
                    if(mid == list[i].mid){
						str +="<span class='text_info infoBtn modifyBtn' data-rno='"+list[i].rno+"'>수정</span>";
						str +="<span class='text_info infoBtn deleteBtn' data-rno='"+list[i].rno+"'>삭제</span>";
					}
                    str+="</div><div style='margin-top:10px;font-size:13px;'>"+list[i].content+"</div></div></li>";
				}
				replyUL.html(str);
				parent = parentCnt;
				showReplyPage(replyCnt);
				
			});
		}
		
	});
	</script>
</th:block>
</html>