<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/sellerLayout}">

<div class="container" style="margin-top: 20px;"
	layout:fragment="container">




	<!-- /.row -->
	<div class="row">
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-comments fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">[[${qReplyCnt}]]</div>
							<div>NEW Q&A</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<a href="http://localhost:8081/qna/list"><span class="pull-left">View Details</span></a> 
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-tasks fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">[[${rReplyCnt}]]</div>
							<div>NEW REVIEW</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<a href="http://localhost:8081/rev/list"><span class="pull-left">View Details</span></a> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-shopping-cart fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">[[${ready}]]</div>
							<div>NEW ORDER</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<a href="http://localhost:8081/exam/manage"><span class="pull-left">View Details</span></a> 
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa  fa-truck fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">[[${shipping}]]</div>
							<div>SHIPPING NOW</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<a href="http://localhost:8081/exam/manage"><span class="pull-left">View Details</span> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-archive fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">[[${complete}]]</div>
							<div>COMPLETE SHIPPING</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<a href="http://localhost:8081/exam/manage"><span class="pull-left">View Details</span></a> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading" style="background-color: white;">
					<div class="row" >
						<div class="col-xs-3">
							<i class="fa fa-male fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">[[${visitcnt}]]</div>
							<div>TODAY VISITOR</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<style>
.donut {
	float: left;
	width: 150px;
	height: 20vh;
}
</style>
		<div id="donutchart"></div>
		<form>
			<div id="donut" class="donut"></div>
			<div id="donut2" class="donut"></div>
			<div id="donut3" class="donut"></div>
		</form>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-bar-chart-o fa-fw"></i> 매출 분석표
			<div class="pull-right">
				<div class="btn-group">
					<button type="button"
						class="btn btn-default btn-xs dropdown-toggle"
						data-toggle="dropdown">
						INCOME, OUT OF STOCK <span class="caret"></span>
					</button>
					</ul>
				</div>
			</div>
		</div>


		<!-- /.panel-heading -->
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>번호</th>
									<th>날짜</th>
									<th>방문자</th>
									<th>매출현황</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>2018/12/27</td>
									<td>3:29 PM</td>
									<td>1320000원</td>
									<td>321,000원</td>
									<td>3:29 PM</td>
									<td>1320000원</td>
									<td>321,000원</td>
								</tr>
								<tr>
									<td>2</td>
									<td>2018/12/28</td>
									<td>3:20 PM</td>
									<td>909000원</td>
									<td>234,340원</td>
									<td>3:20 PM</td>
									<td>909000원</td>
									<td>234,340원</td>
								</tr>
								<tr>
									<td>3</td>
									<td>2018/12/29</td>
									<td>3:03 PM</td>
									<td>843000원</td>
									<td>724,170원</td>
									<td>3:03 PM</td>
									<td>843000원</td>
									<td>724,170원</td>
								</tr>
								<tr>
									<td>4</td>
									<td>2018/12/30</td>
									<td>3:00 PM</td>
									<td>952000원</td>
									<td>230.710원</td>
									<td>3:00 PM</td>
									<td>952000원</td>
									<td>230.710원</td>
								</tr>
								<tr>
									<td>5</td>
									<td>2018/12/30</td>
									<td>2:49 PM</td>
									<td>720000원</td>
									<td>834,523원</td>
									<td>2:49 PM</td>
									<td>720000원</td>
									<td>834,523원</td>
								</tr>
								<tr>
									<td>6</td>
									<td>2018/12/31</td>
									<td>2:23 PM</td>
									<td>162000원</td>
									<td>245,120원</td>
									<td>2:23 PM</td>
									<td>162000원</td>
									<td>245,120원</td>
								</tr>
								<tr>
									<td>7</td>
									<td>2019/01/01</td>
									<td>2:15 PM</td>
									<td>1290000원</td>
									<td>566,354원</td>
									<td>2:15 PM</td>
									<td>1290000원</td>
									<td>566,354원</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.col-lg-4 (nested) -->
				<div class="col-lg-8">
					<div id="morris-bar-chart"
						style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
						<svg height="347" version="1.1" width="598"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							style="overflow: hidden; position: relative; left: -0.21875px;">
							<desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
							<defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
							<text x="32.71875" y="311" text-anchor="end"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text>
							<path fill="none" stroke="#aaaaaa" d="M45.21875,311H573"
								stroke-width="0.5"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
							<text x="32.71875" y="239.5" text-anchor="end"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25</tspan></text>
							<path fill="none" stroke="#aaaaaa" d="M45.21875,239.5H573"
								stroke-width="0.5"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
							<text x="32.71875" y="168" text-anchor="end"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan></text>
							<path fill="none" stroke="#aaaaaa" d="M45.21875,168H573"
								stroke-width="0.5"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
							<text x="32.71875" y="96.5" text-anchor="end"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan></text>
							<path fill="none" stroke="#aaaaaa" d="M45.21875,96.5H573"
								stroke-width="0.5"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
							<text x="32.71875" y="25" text-anchor="end"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan></text>
							<path fill="none" stroke="#aaaaaa" d="M45.21875,25H573"
								stroke-width="0.5"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
							<text x="535.3013392857142" y="323.5" text-anchor="middle"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal" transform="matrix(1,0,0,1,0,8)">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text>
							<text x="384.50669642857144" y="323.5" text-anchor="middle"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal" transform="matrix(1,0,0,1,0,8)">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan></text>
							<text x="233.71205357142858" y="323.5" text-anchor="middle"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal" transform="matrix(1,0,0,1,0,8)">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008</tspan></text>
							<text x="82.91741071428572" y="323.5" text-anchor="middle"
								font-family="sans-serif" font-size="12px" stroke="none"
								fill="#888888"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
								font-weight="normal" transform="matrix(1,0,0,1,0,8)">
							<tspan dy="4"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006</tspan></text>
							<rect x="54.64341517857143" y="25" width="26.773995535714285"
								height="286" rx="0" ry="0" fill="#0b62a4" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="84.41741071428572" y="53.60000000000002"
								width="26.773995535714285" height="257.4" rx="0" ry="0"
								fill="#7a92a3" stroke="none" fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="130.04073660714286" y="96.5" width="26.773995535714285"
								height="214.5" rx="0" ry="0" fill="#0b62a4" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="159.81473214285714" y="125.1" width="26.773995535714285"
								height="185.9" rx="0" ry="0" fill="#7a92a3" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="205.43805803571428" y="168" width="26.773995535714285"
								height="143" rx="0" ry="0" fill="#0b62a4" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="235.21205357142856" y="196.60000000000002"
								width="26.773995535714285" height="114.39999999999998" rx="0"
								ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="280.8353794642857" y="96.5" width="26.773995535714285"
								height="214.5" rx="0" ry="0" fill="#0b62a4" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="310.609375" y="125.1" width="26.773995535714285"
								height="185.9" rx="0" ry="0" fill="#7a92a3" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="356.23270089285717" y="168" width="26.773995535714285"
								height="143" rx="0" ry="0" fill="#0b62a4" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="386.00669642857144" y="196.60000000000002"
								width="26.773995535714285" height="114.39999999999998" rx="0"
								ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="431.6300223214286" y="96.5" width="26.773995535714285"
								height="214.5" rx="0" ry="0" fill="#0b62a4" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="461.4040178571429" y="125.1" width="26.773995535714285"
								height="185.9" rx="0" ry="0" fill="#7a92a3" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="507.02734375" y="25" width="26.773995535714285"
								height="286" rx="0" ry="0" fill="#0b62a4" stroke="none"
								fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
							<rect x="536.8013392857143" y="53.60000000000002"
								width="26.773995535714285" height="257.4" rx="0" ry="0"
								fill="#7a92a3" stroke="none" fill-opacity="1"
								style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect></svg>
						<div class="morris-hover morris-default-style"
							style="left: 385.962px; top: 135px; display: none;">
							<div class="morris-hover-row-label">2010</div>
							<div class="morris-hover-point" style="color: #0b62a4">
								Series A: 50</div>
							<div class="morris-hover-point" style="color: #7a92a3">
								Series B: 40</div>
						</div>
					</div>
				</div>
				<!-- /.col-lg-8 (nested) -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.panel-body -->
	</div>



	<script src="../js/jquery.min.js"></script>
	<link rel="stylesheet"
		href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


	<script th:inline="javascript">
	$(document).ready(function() {
		
	
		new Morris.Donut({
			element : "donut",
			data : [ {
				label : "일매출",
				value : [[${day}]] 
			} ]
		});
		new Morris.Donut({
			element : "donut2",
			data : [ {
				label : "주간 매출",
				value : [[${week}]]
			} ]
		});
		new Morris.Donut({
			element : "donut3",
			data : [ {
				label : "월 매출",
				value : [[${month}]]
			} ]
		});
	});
</script>
</div>
</html>
