<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/shopLayout}">

<div class="container" style="margin-top: 20px;"
	layout:fragment="container">
	<div class="menuRoot">
		<div class="table-cell" style="">
			<span style="color: #9b9b9b;">홈&nbsp;&nbsp;&nbsp; &gt; </span> <span
				style="color: #333333; font-weight: bold;">&nbsp; 장바구니</span>
		</div>
	</div>
	<div class="shoppingBasketArea" style="">

		<div class="displayTable" style="height: 65px;">
			<tbody id="basketAllTable">
				<div id="basketDirectTitle" style="padding: 0 0 30px 0px;">
					<img src="../img/bg_cart_ssm_title_banner_01.png"
						style="width: 100%; cursor: pointer;">
				</div>

				<table class="table" th:if="${!cartList.empty}">
					<tbody>
						<tr>
							<td class="" style="width: 30px;">
								<div class="check_box agreeCheckDiv" title="상품 전체선택 및 해제"
									style="width: 80px;">
									<input type="checkbox" id="allCheck_box"> <label for="allCheck_box">
										<div class="allSelect">전체선택</div>
									</label>
								</div>
							</td>
							<td style="text-align: left;">
								<button class="selectDeleteBtn">선택삭제</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="display: inline-block; width: 760px"
					class='cartContainer'>
					
					<table class="basketSheetTable" cellspacing="0" th:if="${cartList.empty}"
						style="width: 760px; min-height: 680px; position: relative; display: inline-block;">
						<tbody id="basketDirectTableBody">
							<td colspan="6"
								style="height: 420px; width: 760px; border-top: 4px solid #e5e5e5; border-bottom: 4px solid #e5e5e5; text-align: center;"><div
									class="emptyBasketImg"></div>
								<div style="margin-top: 10px; font-size: 14px; color: #333;">장바구니에
									담은 상품이 없습니다.</div>
							</td>
						</tbody>
					</table>
					
					<div class="dummy" th:each='arr:${cartList}' th:if="${arr != null}"
						style='margin-bottom: 20px;'>
						<div style="border-bottom: 4px solid #e5e5e5; width: 760px;"></div>
						<table class="basketGoodsTableMiddle" cellspacing="0"
							style="width: 760px;">
							<tbody>
								<tr style="height: 120px;">
									<td class="checkBoxTd borderBottom">
										<div class="check_box">
											<input type="checkbox" name="checkbox" class="checkbox" th:id="|chk_${arr.cno}|"> 
											<label th:for="|chk_${arr.cno}|"></label>
										</div>
									</td>
									<td class="height90 borderBottom" colspan="4"
										style="text-align: left; width: 150px;">
										<div class="shoppingGoodsThumbnail">
											<a th:href="|/store/detail?pno=${arr.pno}|"><img th:class="|img_${arr.cno}|"
												style="width: 60px; display: inline-block; vertical-align: middle;"></a>
										</div>
										<div
											style="display: inline-block; margin-left: 6px; vertical-align: middle;">
											<div class="basketGoodsName" style="width: 100px;">
												<a style="color: #333; cursor:pointer" th:href="|/store/detail?pno=${arr.pno}|"
													th:text="${arr.product.pname}">PNAME</a>
												<div class="basketGoodsDeleteBtn"></div>
											</div>
											<div class="basketStoreInfo"
												style="font-size: 15px; margin-top: 6px;"
												th:text="|사이즈 / ${arr.opt.size}|">SIZE</div>
										</div>
									</td>
									<td class="borderRight" colspan="5"
										style="border-spacing: 0px;">
										<table  style="width: 100%;">
											<tbody>
												<tr class="height60 optionClass">
													<td class=" upDownTd">
														<div class="upDownDiv">
															<input class="upDownNumArea" maxlength="3" type="text"
																th:value="${arr.qty}" placeholder="0" readonly="readonly">
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td class="basketGoodsSumPrice">
										<div class="sumPrice"
											th:data-sum="${arr.qty * arr.product.price}"
											th:text="|${arr.qty * arr.product.price}원|">PRICE</div>
									</td>
									<td class="height90 borderBottom btnTdArea">
										<button class="basketCommonBtn cartDel"
											style="margin-top: 8px;" th:id="|del_${arr.cno}|">삭제하기</button>
									</td>
								</tr>
							</tbody>
						</table>

						<table class="basketGoodsTableEnd" cellspacing="0"
							style="width: 760px;">
							<tbody>
							</tbody>
						</table>
					</div>
				</div>

				<div class="floatArea">
					<div class="floatMenu" style="">
						<table class="buyNPriceTable" cellspacing="0"
							style="width: 100%; color: #202225;">
							<tbody>
								<tr>
									<td colspan="2" style="">
										<button class="formBuyNPriceInfoBoxTitle">주문예정 금액</button>
									</td>
								</tr>
								<tr>
									<td class="floatTableText"
										style="border-bottom: 1px solid #e1e1e1;">총 주문금액</td>
									<td class="floatTableNumber"
										style="border-bottom: 1px solid #e1e1e1; text-align: right; color: #ff5252;"><span
										class="d_totalPrice">0</span>원</td>
								</tr>
								<tr>
									<td colspan="2" style="height: 10px;"></td>
								</tr>
								<tr>
									<td colspan="2">
										<button class="orderBtn"
											style="background-color: #00bfa5; border: 1px solid #00bfa5;">주문하기</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</tbody>

		</div>
		<div style="text-align:center;"  th:if="${#lists.size(pageList) gt 1}">
			<div class="pageControlLeft" th:if="${pageMaker.prev} == true"></div>
			<div class="showPage" style="display:inline-block; vertical-align:top;"  th:each="page : ${pageList}">
				<button class="pageNum pageNumber" th:id="|page_${page}|" th:text="${page}">1</button></div>
			<div class="pageControlRight" th:if="${pageMaker.next} == true"></div>
		</div>
	</div>
	<form id="cartForm" method="get">
		<input type="hidden" name="pageNum" id="pageNum" />
		
	</form>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	var cartForm = $("#cartForm");
	var cartList = [[${cartList}]];
	var chkList = new Array();
	var pageMaker = [[${pageMaker}]];

	(function(){

		var totalSum = 0;
		
		$(".sumPrice").each(function(){
			totalSum += Number($(this).data("sum"));
		})
		
		$(".d_totalPrice").html(totalSum);
		
		imgLoad(cartList);
		
		$("#pageNum").val(pageMaker.cri.pageNum);
		$("#page_"+pageMaker.cri.pageNum).attr("style","color:#ff7f7a;");
		
		$("input[type=checkbox]:checkbox").prop("checked", "checked");
		checkChk();
	})();
	

	$(".pageNum").click(function(e) {
		$("#pageNum").val($(this).attr("id").substring(5));
		cartForm.submit();
	});
	
	$(".checkbox").click(function(){
		if($("input[name=checkbox]:not(:checked)").length != 0){
			
			$("input[id=allCheck_box]:checkbox").prop("checked", false);
		}else{
			$("input[id=allCheck_box]:checkbox").prop("checked", true);
		}
		checkChk();
	});
	
	function imgLoad(cartList){
		$.each(cartList, function(index, item){
			
			var img = item.product.imgList[0];
			var fileCallPath =  encodeURIComponent(img.ipath+ "/"+ img.uuid +"_"+img.iname);
			
			var imgDiv= $('.img_'+item.cno);
			imgDiv.attr("src","/display?fileName="+fileCallPath);
		}); 
	}
	
	$("#allCheck_box").click(function(){
		if($("input[name=checkbox]:not(:checked)").length != 0){
			
			$("input[name=checkbox]:checkbox").prop("checked", "checked");
		}else{
			$("input[name=checkbox]:checkbox").prop("checked", false);
		}
		checkChk();
		
	});
	
	$(".cartDel").click(function(){
		var cno = $(this).attr("id").substring(4);
		
		$.ajax({
            type:"post",
            url: "/cart/delete/"+cno,
            success:function(result, status, xhr){

            	alert("삭제되었습니다");
            	window.location.reload();
			}
		});	
	});
	
	$(".selectDeleteBtn").on('click',function(e){
		var str = "";
		e.preventDefault();
		$.each(chkList, function(index, item){
			if(index == 0){
				str = item;	
			}else{
				str += "_"+item
			}
		});
		
		 $.ajax({
            type:"post",
            url: "/cart/delete/"+str,
            success:function(result, status, xhr){

            	alert("삭제되었습니다");
            	$(".cartContainer").load(location.href + " .cartContainer>*","");
            	window.location.reload();
			}	
        }); 
		 
	});
	
	$(".orderBtn").click(function(){
		if(chkList.length){
			
			$.each(cartList, function(index, item){
				var cno = chkList.indexOf(String(item.cno));
				if(cno != -1){
					
					cartForm.append("<input type='hidden' name='info' value='"+
							item.pno+"_"+item.opno+"_"+item.qty+"_"+item.sno+"'>")
							.append("<input type='hidden' name='"+csrfName+"' value='"+token+"' >");
				}
			});
			cartForm.attr("action","/order/list").attr("method","post").submit()
		}else{
			alert("장바구니에 담긴 상품이 없습니다.");
		}
		
	});
	
	function checkChk(){
		chkList = new Array();
		$("input[name='checkbox']:checked").each(function(index, item){
			chkList.push(item.getAttribute('id').substring(4));
		});

	}
	
	</script>
</th:block>
</html>